<footer>
  <slot />
  <div class="footer-links">
    <a href="#about">About</a>
    <a href="#accessibility">Accessibility</a>
    <a href="#privacy">Privacy Policy</a>
    <a href="#contact">Contact</a>
    <a href="#contribute">Contribute </a>
  </div>
</footer>

<style>
  footer {
    background-color: #00bc7d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    color: white;

    section {
      background: none;
    }
    h2 {
      color: white;
    }
  }
</style>
